In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import re
from re import sub
import sys, os

In [3]:
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords
import seaborn as sns

In [8]:
sys.path.append(os.path.abspath(os.path.join('../src')))

In [10]:
from preprocessing import Preprocessing

[nltk_data] Downloading package wordnet to /home/jedi/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /home/jedi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
df = pd.read_csv('../cleaned_tweet_data.csv')

In [14]:
# instantiate preprocessing object
preprocess = Preprocessing(df)

In [15]:
df.head()

,created_at,source,original_text,polarity,subjectivity,lang,favourite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,2022-04-22 22:17:05+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @NorthstarCharts: The 10-year yield is tell...,0.16,0.540000,en,188.0,43.0,davideiacovozzi,18,18,NaN,"[{'text': 'gold', 'indices': [116, 121]}, {'te...","[{'screen_name': 'NorthstarCharts', 'name': 'N...",NaN
1,2022-04-22 13:44:53+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @MichaelAArouet: German 10y mortgage rate w...,0.15,0.175000,en,179.0,32.0,davideiacovozzi,18,18,NaN,[],"[{'screen_name': 'MichaelAArouet', 'name': 'Mi...",NaN
2,2022-04-22 06:10:34+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @goldseek: When? https://t.co/kO2FfHKaZg,0.00,0.000000,en,193.0,26.0,davideiacovozzi,18,18,False,[],"[{'screen_name': 'goldseek', 'name': 'Peter ⚒ ...",NaN
3,2022-04-21 17:22:09+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @charliebilello: The 30-year mortgage rate ...,0.00,0.183333,en,620.0,213.0,davideiacovozzi,18,18,NaN,[],"[{'screen_name': 'charliebilello', 'name': 'Ch...",NaN
4,2022-04-21 10:32:26+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @biancoresearch: Rates rise until something...,-0.40,0.400000,en,1787.0,417.0,davideiacovozzi,18,18,False,[],"[{'screen_name': 'biancoresearch', 'name': 'Ji...",NaN

In [16]:
df.shape

(15076, 15)

Process the original_text column as it contains special characters

Use Stemmitization technique to root reduce each word to its root word and normalizes text

stemmer = PorterStemmer()
stop = stopwords.words('english')

In [17]:
# clean text 
df = preprocess.cleantext('original_text', 'clean_text')

# Stem words
df = preprocess.stem('clean_text')

/home/jedi/Documents/Tenacademy/Twitter-Data-Analysis/src/preprocessing.py:122: FutureWarning: The default value of regex will change from True to False in a future version.
  self.df[new_col] = self.df[org_col].str.replace('[^\w\s]', '')
/home/jedi/Documents/Tenacademy/Twitter-Data-Analysis/src/preprocessing.py:123: FutureWarning: The default value of regex will change from True to False in a future version.
  self.df[new_col] = self.df[new_col].str.replace('\w*\d\w*', '')

In [18]:
df.head(2)

,created_at,source,original_text,polarity,subjectivity,lang,favourite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place,clean_text
0,2022-04-22 22:17:05+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @NorthstarCharts: The 10-year yield is tell...,0.16,0.540,en,188.0,43.0,davideiacovozzi,18,18,NaN,"[{'text': 'gold', 'indices': [116, 121]}, {'te...","[{'screen_name': 'NorthstarCharts', 'name': 'N...",NaN,rt northstarchart yield tell us there high ris...
1,2022-04-22 13:44:53+00:00,"<a href=""http://twitter.com/download/android"" ...",RT @MichaelAArouet: German 10y mortgage rate w...,0.15,0.175,en,179.0,32.0,davideiacovozzi,18,18,NaN,[],"[{'screen_name': 'MichaelAArouet', 'name': 'Mi...",NaN,rt michaelaarouet german mortgag rate went hea...

In [19]:
df[['original_text','clean_text']].head(3)

,original_text,clean_text
0,RT @NorthstarCharts: The 10-year yield is tell...,rt northstarchart yield tell us there high ris...
1,RT @MichaelAArouet: German 10y mortgage rate w...,rt michaelaarouet german mortgag rate went hea...
2,RT @goldseek: When? https://t.co/kO2FfHKaZg,rt goldseek

In [ ]:
df.to_csv('../clean_tweet.csv')

In [ ]:
# Used stemmer instead of lemmatizer
cleanKagTweetList = preprocess.filterTweetList(df['clean_text'])

In [ ]:
!cd